@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Cabin+Sketch:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'leaflet/dist/leaflet.css';
/* Styles par défaut pour Leaflet */
/* @import url('https://unpkg.com/leaflet/dist/leaflet.css'); */

@import 'maplibre-gl/dist/maplibre-gl.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .sketchy { 
        padding: 4rem 8rem; 
        display: inline-block; 
        border: 1px solid #515151; 
        /* font-size: 1.5rem;  */
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%; 
        /* text-transform: uppercase;  */
        /* letter-spacing: 0.3ch;  */
        background: #ffffff; 
        position: relative; 
    } 
    
    .sketchy::before { 
        content: ''; 
        border: 1px solid #353535; 
        display: block; 
        width: 100%; 
        height: 100%; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg); 
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%; 
    }
    h1, h2, h3, h4, h5, h6, p {
        @apply text-gray-700 
    }
  
}